.feature:not(li),
.feature:not(li) button {
    position: relative;
    padding: 5px;
    border-radius: var(--border-radius);
    border: 4px solid rgba(255, 255, 255, 0.25);
    margin: var(--feature-margin);
    box-sizing: border-box;
    color: var(--feature-foreground);
    z-index: 0;
    transition: all 0.5s, z-index 0s 0.5s;
}

.can,
.can button {
    background-color: var(--layer-color);
	cursor: pointer;
}

.can:hover,
.can:hover button {
    transform: scale(1.15, 1.15);
    box-shadow: 0 0 10px 5px var(--background);
    z-index: 1;
    transition: all 0.5s, z-index 0s;
}

.locked,
.locked button {
    background-color: var(--locked);
    cursor: not-allowed;
}

.bought,
.bought button {
    background-color: var(--bought);
    cursor: default;
}

.rebirth.can { background-color: #e60039; }
.cash.can    { background-color: #0b8000; }

.upgrade.left,  .clickable.left  { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; }
.upgrade.right, .clickable.right { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; }

.wide { width: 240px !important; }
